// Cores
$azul-escuro: #2E7BA2;
$azul-claro: #C8DEEF;
$amarelo-claro: #FBF0DD;
$amarelo: #FACF9D;
$mostarda: #DF9010;

// Fontes
$font-titulo: 'Calistoga', cursive;
$font-principal: 'Raleway', sans-serif;