// Cores
$azul-escuro: #2E7BA2;
$azul-botao: #296a8a;
$azul-claro: #C8DEEF;
$amarelo-claro: #FBF0DD;
$amarelo: #FACF9D;
$mostarda: #DF9010;
$bkgdGradient: linear-gradient(to bottom, #BFDAE6, #FCF0DD, #FACF9D); 

// Fontes
$font-titulo: 'Calistoga', cursive;
$font-principal: 'Raleway', sans-serif;