@import '../../abstract/variables/variables.scss';

.header {
    background-color: $azul-escuro;
    position: relative;
    padding: 1em;
    gap: 5px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: $font-principal;

    .logo {
        max-width: 330px;
    }

    input {
        display: none;
    }

    .menu_botao {
        display: none;
    }

    .menu {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 2vw;

        li {
            background-color: #000000a7;
            padding: 4px 7px 7px;
            border-radius: 5px;
            transition: background-color .4s;

            a {
                color: #FFF;
                font-size: 2.6vw;
                font-weight: 600;
            }

            &:hover {
                background-color: $azul-escuro;
                cursor: pointer;
                transition: background-color .4s;
            }

        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        justify-content: space-between;

        .logo {
            max-width: 230px;
        }

        .menu_botao {
            display: block;
            width: 3em;
            padding: 0.5em;
        }

        #menu:checked~.menu {
            display: flex;
            justify-content: center;
        }

        .menu {
            display: none;
            background-color: $azul-escuro;
            text-align: center;
            padding: 1em 0;

            li {
                margin-top: .5em;
                padding: .5em;
                width: 50vw;
                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 501px) {
    .header {
        .logo {
            margin-left: 2em;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .menu {
            text-align: right;

            li {
                padding: .5em 1em;

                a {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .header {
        .logo {
            padding-left: 1.5em;
        }
    }
}