@import '../../abstract/variables/variables.scss';

.header {
    background-color: $azul-escuro;
    position: relative;
    padding: 1em;
    gap: 5px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    color: #FFF;
    font-family: $font-principal;
    font-size: 20px;
    font-weight: 700;

    img {
        max-width: 330px;
    }

    input {
        display: none;
    }

    .menu_botao {
        display: none;
    }

    .menu {
        padding: 0;
        display: flex;
        flex-flow: row;
        gap: 2vw;

        li {
            background-color: $azul-botao;
            padding: 1px 5px 5px;
            border-radius: 5px;

            &:hover {
                background-color: $azul-escuro;
            }

            a {
                font-size: 3vw;
                color: #FFF;
            }
        }
    }

    @media screen and (max-width: 440px) {
        .menu_botao {
            display: block;
            width: 3em;
            padding: 0.5em;
        }

        #menu:checked~.menu {
            display: contents;
        }

        .menu {
            display: none;
            background-color: $azul-escuro;
            text-align: center;

            li {
                margin-top: .5em;
                width: 60vw;

                a {
                    font-size: 4vw;
                }
            }
        }
    }
}