@import '../../abstract/variables/variables.scss';

.header {
    background-color: $azul-escuro;
    position: relative;
    padding: 1em;
    gap: 5px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: $font-principal;
    font-weight: 700;

    .logo {
        max-width: 330px;
    }

    input {
        display: none;
    }

    .menu_botao {
        display: none;
    }

    .menu {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        gap: 2vw;

        li {
            background-color: $azul-botao;
            padding: 4px 7px 7px;
            border-radius: 5px;

            a {
                color: #FFF;
                font-size: 2.5vw;
            }

            &:hover {
                background-color: $azul-escuro;
            }

        }
    }

    @media screen and (max-width: 440px) {

        .menu_botao {
            display: block;
            width: 3em;
            padding: 0.5em;
        }

        #menu:checked~.menu {
            display: contents;
        }

        .menu {
            display: none;
            background-color: $azul-escuro;
            text-align: center;

            li {
                margin-top: .5em;
                width: 60vw;

                a {
                    font-size: 4vw;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .root {
            .header {
                flex-flow: row wrap;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .menu {
            li {
                padding: .5em 1em;
                a {
                    font-size: 20px;
                }
            }
        }
    }
    @media screen and (min-width: 1000px) {
        .header {
            .logo {
                padding-left: 1.5em;
            }
        }
    }
}