@import '../../abstract/variables/variables.scss';

.footer {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    background-color: $amarelo;
    padding: 1em;
    font-family: $font-principal;
    font-weight: 500;

    .logo {
        img {
            width: 200px;
        }
        div {
            img {
                // transform: translateX(40px);
                width: 30px;
                margin: 4px .5em 0;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .aside {
        line-height: 30px;
        p {
            a {
                color: #000;
                font-weight: 600;
            }
        }
    }
}