@import '../../abstract/variables/variables.scss';

.footer {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    background-color: $amarelo;
    padding: 1em;
    font-family: $font-principal;
    font-weight: 500;

    .logo_container {
        img {
            width: 200px;
            &:hover {
                cursor: pointer;
            }
        }
        div {
            img {
                width: 30px;
                margin: 4px .5em 0;
                border-radius: 7px;
                &:hover {
                    cursor: pointer;
                    background-color: #fff;
                }
            }
        }
    }
    .aside {
        line-height: 30px;
        p {
            a {
                color: #000;
                font-weight: 600;
                &:hover {
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .footer {
        padding: 3em 0;
        flex-flow: row;
        justify-content: space-around;
    }
}