@import '../../abstract/variables/variables.scss';

.shows {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h1 {
        margin-bottom: 50px;
        font-family: $font-titulo;
        font-weight: 400;
        font-size: 64px;
    }
    .dia {
        width: 100%;
        padding: 0 1em;
        text-align: center;
        .bandas {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
            gap: 30px;

            font-family: $font-principal;
            font-size: 8vw;
            h3 {    
                font-weight: 800;
            }
            h4 {
                font-weight: 650;
            }
            h5 {
                font-weight: 600;
            }
            h6 {
                font-weight: 500;
            }
        }
        .conteiner {
            display: flex;
            align-items: center;
            gap: 30px;
            color: #fff;
            .line {
                background-color: $mostarda;
                width: 50vw;
                height: 2px;
            }
            .titulo {
                width: 900px;
                background-color: $mostarda;
                font-family: $font-titulo;
                font-size: 10vw;
                font-weight: 500;
                padding: 16px;
            }
        }
    }
}